<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>nl.kubat.goto-meet</string>
	<key>ProgramArguments</key>
	<array>
		<!-- Make sure you use the right path to the binary. -->
		<string>/usr/local/bin/goto-meet</string>
		<!--
		  Add additional settings here. Example:
		  <string>--client-timeout</string> <string>30s</string>
		-->
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
